{{>dashboard}}

<style>
    .text-color {
        color: #cbb26b;
    }

    .bar-color {
        background-color: #002c6a;
    }
</style>

<div class="col col-lg-8" style="margin: auto auto;">
    <div class="card text-white bar-color mb-3 " style="max-width: 100rem;">
        <div class="card-header text-color">Transação</div>
        
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-color">Data</th>
                        <th scope="col" class="text-color">Descrição</th>
                        <th scope="col" class="text-color">Categoria</th>
                        <th scope="col" class="text-color">Valor</th>
                        <th scope="col" class="text-color text-center">id</th>
                        <th scope="col" class="text-color text-center">#</th>
                    </tr>
                </thead>                
                <tbody class="thead-dark">
                    {{#each data}}
                        <form action="/editar-excluir-transacao" method="POST" id="contactForm" name="contactForm">
                            <tr>
                                <td class="text-color"><input type="text" class="form-control" style="background-color: #002c6a; color: #cbb26b" name="data" id="data" value={{ data }}></td>
                                <td class="text-color"><input type="text" class="form-control" style="background-color: #002c6a; color: #cbb26b" name="descricao" id="descricao" value={{ descricao }}></td>
                                <td class="text-color"><input type="text" class="form-control" style="background-color: #002c6a; color: #cbb26b" name="categoria" id="categoria" value={{ categoria }}></td>
                                <td class="text-color"><input type="text" class="form-control" style="background-color: #002c6a; color: #cbb26b" name="valor" id="valor" value={{ valor }}></td>
                                <td class="text-color"><input readonly="true" type="text" class="form-control" style="background-color: #002c6a; color: #cbb26b" name="id" id="id" value={{ id }}></td>
                                <td>
                                    <div class="row justify-content-center">
                                        <div class="col-md-5 form-group text-center">
                                            <input type="submit" name="editar" value="Editar" style="background-color: #cbb26b;color: #002c6a;" class="btn button-color rounded-1 py-2 px-4">
                                            <span class="submitting"></span>
                                        </div>

                                        <div class="col-md-5 form-group text-center">
                                            <input type="submit" name="excluir" value="Excluir" style="background-color: #cbb26b;color: #002c6a;" class="btn rounded-1 py-2 px-4">
                                            <span class="submitting"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </form>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
